<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Bars</title>

    <link rel="stylesheet" type="text/css" href="index.css" />

    <link rel="icon" type="image/ico" href="../favicons/favicon-32.ico" sizes="32x32">
    <link rel="icon" type="image/ico" href="../favicons/favicon-128.ico" sizes="128x128">
    <link rel="icon" type="image/ico" href="../favicons/favicon-152.ico" sizes="152x152">
    <link rel="icon" type="image/ico" href="../favicons/favicon-167.ico" sizes="167x167">
    <link rel="icon" type="image/ico" href="../favicons/favicon-180.ico" sizes="180x180">
    <link rel="icon" type="image/ico" href="../favicons/favicon-192.ico" sizes="192x192">
    <link rel="icon" type="image/ico" href="../favicons/favicon-196.ico" sizes="196x196">
</head>
<body>
    <div id="app">
        <h1>My Progress</h1>
        <button class="btn" @click="addNewBar">+ New Progress Bar</button>
        <button class="btn float-right" @click="toggleDarkMode">Dark Mode</button>
        <hr />
        <bar v-for="(bar, index) in barList"
            :key="index"
            :index="index"
            :name="bar.name"
            :start-date="bar.startDate"
            :end-date="bar.endDate"
            :goal-actions="bar.goalActions"
            :actions-completed="bar.actionsCompleted"
            :increment-up="bar.incrementUp"
            :increment-down="bar.incrementDown"
            :milestone-list="bar.milestoneList"
            @remove-bar="removeBar(bar)"
            @update-bar="updateBar(bar, $event)">
        </bar>
    </div>

    <script type="text/x-template" id="bar-template">
        <div>
            <div class="modal" ref="newMilestoneModal" :class="{ show: newMilestoneModal }" @click="closeMilestoneModal($event)">
                <div class="modal-content">
                    <span class="close" ref="closeModal" @click="closeMilestoneModal($event)">&times;</span>
                    <p>Make a new Milestone!</p>
                    
                    <label for="Name">Name: </label>
                    <input type="text" v-model="newMilestoneName">
                    <br>
                    <label for="Actions">Actions: </label>
                    <input type="number" v-model="newMilestoneActions">
                    <br>
                    <button class="danger hidden"></button>
                    <button @click="addMilestone">Add Milestone</button>
                </div>
            </div>

            <div class="row">
                <p class="bar-name" v-if="!edit"><b>{{name}}</b></p>
                <div class="bar-name" v-if="edit">
                    <input placeholder="Name" type="text" v-model="newName" />
                </div>
                <div class="completed-behind-ahead-goal"  v-if="!edit">
                    <b class="completed">{{actionsCompleted}}</b>
                    <b>/</b>
                    <b class="behind" v-if="behind">{{actionsAheadBehind}}</b>
                    <b class="ahead" v-else>{{actionsAheadBehind}}</b>
                    <b>/</b>
                    <b class="goal">{{goalActions}}</b>
                    <p class="number-float" :class="{ hidden: numberFloatHidden }">{{numberFloat}}</p>
                </div>
                <div class="completed-behind-ahead-goal" v-if="edit">
                    <input class="completed" placeholder="Completed" type="number" min="0" v-model="newActionsCompleted" oninput="validity.valid||(value='');" />
                    <b>/</b>
                    <b class="behind" v-if="behind">{{actionsAheadBehind}}</b>
                    <b class="ahead" v-else>{{actionsAheadBehind}}</b>
                    <b>/</b>
                    <input class="goal" placeholder="Goal" type="number" min="1" v-model="newGoalActions" oninput="validity.valid||(value='');" />
                </div>
                <button class="editBtn" @click="toggleEdit">Edit</button>
                <br>
                <p class="per-day" v-if="actionsPerDay >= 1">Avg / day: {{actionsPerDay}}</p>
                <p class="per-day" v-else>Days per: {{daysPerAction}}</p>
            </div>

            <div class="row" v-if="edit">
                <div class="column-40">
                    <p><b>Start Date</b></p>
                    <input type="date" v-model="newStartDate" />

                    <p><b>End Date</b></p>
                    <input type="date" v-model="newEndDate" />
                </div>
                <div class="column-40">
                    <p><b>Display Order</b></p>
                    <input type="number" min="0" v-model="newIndex" oninput="validity.valid||(value='');" />

                    <p v-if="verify">Are you sure you want to delete this bar?</p>
                    <br>
                    <button class="danger margin-bottom" v-if="verify" @click="remove">Delete</button>
                    <button class="margin-bottom" v-if="verify" @click="toggleVerify">Cancel</button>
                    <button class="danger margin" v-else @click="toggleVerify">Delete Progress Bar</button>
                    
                    <br>
                    <p class="danger" v-if="dateDiff < 1">Input start and end date (start date must be before end date)</p>
                    <p class="danger" v-if="goalActions < 1">Input number of actions to complete (must be more than 0)</p>
                    <p class="danger" v-if="incrementUp < 1 || incrementDown < 1">Input number to increment by (must be more than 0)</p>
                    <button class="margin-bottom" @click="update">Update Progress Bar</button>

                    <button @click="openMilestoneModal">New Milestone</button>
                </div>
            </div>

            <div class="row">
                <div class="progressBar" ref="progressBar">
                    <milestone v-for="(milestone, index) in milestoneList"
                        :key="index"
                        :actions="milestone.actions"
                        :name="milestone.name"
                        @update-milestone="updateMilestone(milestone, $event)"
                        @delete-milestone="deleteMilestone(milestone)">
                    </milestone>
                    <div class="overlapProgress progress" :class="{ bumpUp: tooSmallBlue }" ref="blue" v-if="overlapPercent != '0%'" :style="{width: overlapPercent}">
                        <b>{{overlapPercent}}</b>
                    </div>
                    <div class="averageProgress progress" :class="{ bumpDown: tooSmallRed }" ref="red" v-if="averagePercent != '0%'" :style="{width: averagePercent}">
                        <b>{{averagePercent}}</b>
                    </div>
                    <div class="currentProgress progress" :class="{ bumpDown: tooSmallGreen }" ref="green" v-if="currentPercent != '0%'" :style="{width: currentPercent}">
                        <b>{{currentPercent}}</b>
                    </div>
                    <div class="progressleft progress" :class="{ bumpUp: tooSmallGray }" ref="gray" v-if="leftPercent != '0%'" :style="{width: leftPercent}">
                        <b>{{leftPercent}}</b>
                    </div>
                </div>
                <div class="btnDiv" v-if="!edit">
                    <button class="incrementbtn up" @click="incrementActionsCompleted(true)"><b>+{{incrementUp}}</b></button>
                    <br>
                    <button class="incrementbtn down" @click="incrementActionsCompleted(false)"><b>-{{incrementDown}}</b></button>
                </div>
                <div class="btnDiv" v-if="edit">
                    <div class="incrementbtn up">
                        <b>+</b><input type="number" min="1" v-model="newIncrementUp" oninput="validity.valid||(value='');" />
                    </div>
                    <div class="incrementbtn down">
                        <b>- </b><input type="number" min="1" v-model="newIncrementDown" oninput="validity.valid||(value='');" />
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </script>

    <script type="text/x-template" id="milestone-template">
        <div class="milestone tooltip" :style="styleObject">
            <span class="tooltiptext">
                <p @click="openEditModal"><b>{{name}}</b></p>
                <p @click="openEditModal">{{actions}}</p>
                <p @click="openEditModal">{{percentRounded}}%</p>
                <p @click="openEditModal">{{date}}</p>
            </span>

            <div class="modal" ref="editMilestoneModal" :class="{ show: editMilestoneModal }" @click="closeEditModal($event)">
                <div class="modal-content">
                    <span class="close" ref="closeEditModal" @click="closeEditModal($event)">&times;</span>
                    <h3>Edit this Milestone!</h3>
                    
                    <label for="Name">Name: </label>
                    <input type="text" v-model="newName">
                    <br>
                    <label for="Actions">Actions: </label>
                    <input type="number" min="0" v-model="newActions">
                    <br>
                    <button class="danger" @click="openDeleteModal">Delete</button>
                    <button @click="save">Save Milestone</button>
                </div>
            </div>

            <div class="modal" ref="deleteMilestoneModal" :class="{ show: deleteMilestoneModal }" @click="closeDeleteModal($event)">
                <div class="modal-content">
                    <span class="close" ref="closeDeleteModal" @click="closeDeleteModal($event)">&times;</span>
                    <p>Are you sure you want to delete this milestone?</p>
                    <button class="danger" @click="deleteMilestone">Delete</button>
                    <button ref="cancelDelete" @click="closeDeleteModal($event)">Canacel</button>
                </div>
            </div>
        </div>
    </script>

    <!-- development version, includes helpful console warnings -->
    <!--<script src="./vueDev.js"></script>-->
    <!-- production version, optimized for size and speed -->
    <script src="./vueProd.js"></script>

    <script src="./main.js"></script>
</body>
</html>